@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap');

#home-page {
    width: 100%;
    height: 100%;
}

#home-page-landing {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url("src/assets/sat-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    min-height: 800px;
}

#landing-left {
    display: flex;

    color: white;
    justify-content: center;
    align-items: center;
    
}

#landing-left-content {
    margin-bottom: 10em;
    text-align: center;
    padding: 1em 1em 1em 3em;
}

#landing-left-content h1 {
    font-size: 6em;
}

#landing-left-content p {
    font-size: 4em;
    color: white;
    margin-top: 1em;
}

#landing-left-content button {
    font-size: 1em;
    margin-left: .5em;
    padding: .5em;
    box-shadow: 0 0 10px white;
    color: black;
    margin-top: 1em;
    transition: all 2s ease;
    cursor: pointer;
}


#landing-left-content button:hover {
    transition: all 2s ease;
}